services:
  php:
    build: .
    container_name: chronolock-php
    volumes:
      - ./:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:alpine
    container_name: chronolock-nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  db:
    image: mysql:8.0
    container_name: chronolock-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: chronolock
      MYSQL_USER: chronolock
      MYSQL_PASSWORD: chronolock
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password

  redis:
    image: redis:alpine
    container_name: chronolock-redis
    ports:
      - "6379:6379"